@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '../tailwind.icons.js';

@theme {
  --color-blaze-50: hsl(45 100% 95%);
  --color-blaze-100: hsl(45 100% 90%);
  --color-blaze-200: hsl(35 100% 80%);
  --color-blaze-300: hsl(30 100% 70%);
  --color-blaze-400: hsl(25 90% 60%);
  --color-blaze-500: hsl(15 86% 50%);
  --color-blaze-600: hsl(10 80% 40%);
  --color-blaze-700: hsl(5 75% 30%);
  --color-blaze-800: hsl(0 70% 20%);
  --color-blaze-900: hsl(0 60% 15%);
  --color-blaze-950: hsl(0 50% 10%);
}
