@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin '../tailwind.animation.js';
@plugin '../tailwind.icons.js';

@theme {
  --default-font-family: "Inter Variable", sans-serif;

  --color-primary-500: hsl(210 50% 30%); /* Dark blue */
  --color-primary-600: hsl(210 50% 40%);
  --color-primary-700: hsl(210 50% 50%);

  --color-accent-500: hsl(300 80% 60%); /* Fuchsia */
  --color-accent-600: hsl(300 80% 50%);

  --color-text-400: hsl(0 0% 100%); /* White text */
  --color-text-200: hsl(0 0% 85%); /* Light grey text */

  --color-bg-50: hsl(210 20% 10%); /* Very dark blue background */
  --color-bg-100: hsl(210 20% 15%); /* Darker grey background */
  --color-bg-200: hsl(210 20% 20%); /* Medium grey */

  --color-gray-50: var(--color-slate-950);
  --color-gray-100: var(--color-slate-900);
  --color-gray-200: var(--color-slate-800);
  --color-gray-300: var(--color-slate-700);
  --color-gray-400: var(--color-slate-600);
  --color-gray-500: var(--color-slate-500);
  --color-gray-600: var(--color-slate-400);
  --color-gray-700: var(--color-slate-300);
  --color-gray-800: var(--color-slate-200);
  --color-gray-900: var(--color-slate-100);
  --color-gray-950: var(--color-slate-50);

  --color-blaze-50: hsl(45 100% 95%); /* Pale yellow */
  --color-blaze-100: hsl(45 100% 90%); /* Light yellow */
  --color-blaze-200: hsl(35 100% 80%); /* Soft orange */
  --color-blaze-300: hsl(30 100% 70%); /* Vibrant orange */
  --color-blaze-400: hsl(25 90% 60%); /* Strong orange */
  --color-blaze-500: hsl(15 86% 50%); /* Intense orange-red */
  --color-blaze-600: hsl(10 80% 40%); /* Fiery red */
  --color-blaze-700: hsl(5 75% 30%); /* Deep red */
  --color-blaze-800: hsl(0 70% 20%); /* Dark red */
  --color-blaze-900: hsl(0 60% 15%); /* Very dark red */
  --color-blaze-950: hsl(0 50% 10%); /* Almost black with a red hue */

  /* Animation */
  --animate-modal: modal 0.15s ease-in;
  @keyframes modal {
    0% {
      opacity: 0;
      transform: scaleX(0.875) translateY(0.875rem);
    }
    100% {
      opacity: 100;
      transform: scaleX(1) translateY(0);
    }
  }

  --animate-slide-in-bottom: slide-in-bottom 0.15s ease-in;
  @keyframes slide-in-bottom {
    0% {
      opacity: 0;
      transform: translateY(0.875rem);
    }
    100% {
      opacity: 100;
      transform: translateY(0);
    }
  }
}

:root {
  color-scheme: dark;
}
